<div ng-repeat="bugData in bugsData.slice(((currentPage - 1) * maxPostsAmountPerPage), ((currentPage) * maxPostsAmountPerPage))"
     class="bug-div">

    <div class="bug-content">
        <a href="/bug/{{bugData.bugId}}" class="btn btn-success btn-xs" role="button">Bug #{{bugData.bugId}}</a>

        <button type="button" class="btn btn-default btn-xs">{{bugData.location.building}}</button>
        <button type="button" class="btn btn-default btn-xs">{{bugData.location.room}}</button>
        <div class="dropdown inputWrap" ng-show="isAdmin">
            <button class="btn btn-warning btn-xs dropdown-toggle" type="button">{{getCategoryName(bugData.status)}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);"
                       ng-click="setNewStatus(bugData,BUGS_CATEGORIES.NEW )">{{BUGS_STATUSES.NEW}}</a></li>
                <li><a href="javascript:void(0);"
                       ng-click="setNewStatus(bugData,BUGS_CATEGORIES.IN_PROGRESS )">{{BUGS_STATUSES.IN_PROGRESS}}</a>
                </li>
                <li><a href="javascript:void(0);"
                       ng-click="setNewStatus(bugData,BUGS_CATEGORIES.RESOLVED )">{{BUGS_STATUSES.RESOLVED}}</a>
                </li>
                <li class="divider"></li>
                <li><a href="javascript:void(0);"
                       ng-click="deleteBug(bugData)">{{BUGS_STATUSES.DELETED}}</a>
                </li>
            </ul>
        </div>
        <br><br>
        <div class="row">
            <a href="./pics/{{bugData.file_name}}" data-toggle="lightbox"><img
                    class="img-thumbnail float-left bug-item-pic  pull-left gap-right"
                    src="./pics/{{bugData.file_name}}"></a>
            <p class="bug-description">{{bugData.description}}</p>
        </div>
        <br>
        <div class="bug-footer">
            <div class="bug-author ">{{bugData.author._firstName}} {{bugData.author._lastName}} {{bugData.date}}</div>
            <bug-rating class="pull-right bug-rating"></bug-rating>
        </div>
        <br>
    </div>
</div>