<div class="row single-bug-container">

        <div class="col-md-8 col-md-offset-2 rectangle-style">
            <div class="col-md-12" style="padding: 15px">
                <div class="col-md-6">

                    <img class="img-responsive img-rounded img-size"
                         src="http://localhost:5000/pics/{{singleBugData.file_name}}" >
                </div>

                <div class="col-md-6">
                    <div class="text-center bug-link">
                        <h2><a href="http://localhost:5000/bug/{{singleBugData.bugId}}" style="text-decoration: none">Bug №{{singleBugData.bugId}}</a></h2>
                    </div>
                    <div><i class="fa fa-user-circle" aria-hidden="true"></i>  {{singleBugData.author._firstName +" "+ singleBugData.author._lastName}}
                    </div>
                    <br/>
                    <div><i class="fa fa-clock-o" aria-hidden="true"></i>  Дата створення:  {{singleBugData.date}}</div>
                    <br/>
                    <div><i class="fa fa-map-marker fa-x" aria-hidden="true"></i> Корус:  {{singleBugData.location.building}}</div>
                    <br/>

                    <div><i class="fa fa-location-arrow" aria-hidden="true"></i> Аудиторія:  {{singleBugData.location.room}}</div>
                    <br/>
                    <div><i class="fa fa-globe" aria-hidden="true"></i> Опис проблеми:  {{singleBugData.description}}</div>
                    <br/>


                    <div><i class="fa fa-wifi" aria-hidden="true"></i> Статус:  {{singleBugData.status}}</div>
                    <br/>

                    <div class="col-md-offset-5">
                        <div class="btn-group btn-lg" style="border-radius:5px;">
                            <a href="https://t.me/SSUBugTrackerBot" style="color: white; margin-right: 5px;">
                                <i class="fa fa-telegram fa-2x" aria-hidden="true" title="Telegram"></i>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



