.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.bugs-container {
    margin-top: 55px;
}

.right-nav-buttons {
    margin-right: 30px !important;
}

.bot-button {
    margin-right: 5px;
}

.logo-name {
    margin-left: 20px !important;
}

.bug-item-pic {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.bug-div {
    background-color: white;
    margin-bottom: 10px;
}

body {
    background-color: #f0f0f0 !important;
    font-family: Roboto, Tahoma;
}

.bug-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
}

.bug-footer {
    border-top: 1px #f0f0f0 solid;
    margin-left: -20px;
    margin-right: -100px;
}

.inputWrap {
    display: inline;
    float: left;
    margin-right: 4px;
}

.bug-author {
    margin-left: 20px !important;
    margin-top: 10px;
    margin-bottom: -10px;
}

.bug-description {
    padding-left: 10px;
}

.bug-rating {
    padding-right: 100px;
    margin-top: -25px !important;
}

@media only screen and (max-width: 992px) {
    .right-nav-buttons {
        margin-right: -70px !IMPORTANT;
    }
}

.logout-btn {
    margin-left: 5px;
}

.date{
    display: inline;
}