<!DOCTYPE html>
<html ng-app="ssuBugTracker">
<head>
    <meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>SSU Bug Tracker</title>
    <script src="../scripts/libs/angular.js"></script>
    <script src="../scripts/libs/jquery-3.2.1.min.js"></script>

    <script src="../scripts/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../content/css/index-style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/data-context.js" type="text/javascript"></script>
    <script src="../scripts/helpers/enums.js" type="text/javascript"></script>
    <script src="../scripts/controllers/main-page-controller.js" type="text/javascript"></script>
    <script src="../scripts/directives/rating-directive.js" type="text/javascript"></script>
    <script src="../scripts/services/rating-service.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />

</head>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
<body ng-init="init('<%= userPermissions %>')" ng-controller="MainPageController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
                <div class="navbar-header" style="margin-right: 50px">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo-name" href="/">SSU Bug Tracker</a>
                </div>
                <div class="collapse navbar-collapse" id="collapse" >
                    <ul class="nav navbar-nav text-center" >
                        <li ng-show="isAdmin" ng-class="isAdmin ? 'active' :''"><a data-toggle="tab"
                                                                                   ng-click="getBugsData(BUGS_CATEGORIES.NOT_REVIEWED)">{{TAB_NAMES.NOT_REVIEWED}}</a>
                        </li>
                        <li ng-class="isAdmin ? '' :'active'"><a data-toggle="tab"
                                                                 ng-click="getBugsData(BUGS_CATEGORIES.NEW)">{{TAB_NAMES.NEW}}</a>
                        </li>
                        <li><a data-toggle="tab"
                               ng-click="getBugsData(BUGS_CATEGORIES.IN_PROGRESS)">{{TAB_NAMES.IN_PROGRESS}}</a></li>
                        <li><a data-toggle="tab"
                               ng-click="getBugsData(BUGS_CATEGORIES.RESOLVED)">{{TAB_NAMES.RESOLVED}}</a></li>

                    </ul>
                        <ul class="nav navbar-nav navbar-right text-center right-nav-buttons">

                            <a href="https://t.me/SSUBugTrackerBot" target="_blank" class="btn btn-info navbar-btn bot-button">
                                <span class="glyphicon glyphicon-send"></span> Додати баг
                            </a>

                            <a href="" target="_blank" class="btn btn-success navbar-btn">
                                <span></span>{{donePercents}}% багів вирішено!
                            </a>

                            <a href="/logout" ng-show="isAdmin" class="btn btn-danger navbar-btn logout-btn">
                                <span></span>Вийти
                            </a>
                        </ul>
            </div>
    </div>
</nav>
<div class="container">
    <br>
    <div class="col-md-12 bugs-container">
        <div class="with-nav-tabs panel-info">

            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div ng-include src="'../views/partial/bug-list.html'" id="thumbnails"></div>
                    </div>

                </div>
                <div class="text-center">
                    <pagination total-items="bugsData.length" ng-model="currentPage" max-size="maxButtonsAmount"
                                class="pagination-sm "
                                boundary-links="true" rotate="false" num-pages="numPages"
                                items-per-page="maxPostsAmountPerPage" ng-change="pageChanged()">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">Issues/Pull requests: <a href="https://github.com/vladhoncharenko/ssu-bug-tracker-client"
                                                       target="_blank" class="text-muted">Client</a>
            <a href="https://github.com/epismenniy/ssu-bt-telegram-bot" target="_blank" class="text-muted">Bot</a></p>
    </div>
</footer>
</body>
</html>